html {
  margin: auto;
  text-align: center;

  font-size: 13px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

li {
  list-style: none;
}

section {
  margin-bottom: 60px;
}

article {
  margin-bottom: 10px;
}

h3 {
  color: rgb(78, 161, 134);
  font-size: 12px;
  padding: 0;
  margin: 0;
}

h4 {
  font-weight: bold;
  font-size: 15px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-content-button {
  background-color: white;
  border-radius: 50px;
  padding: 7px 20px;
}

.cozy-places-background {
  background-image: url("../assets/accommodations-post-remodeled-historic-azienda-agricola-6b9866cd.webp");
}

.cozy-places-background .cozy-fade {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.center-text-in-img-container {
  position: relative;
  text-align: center;
}

.fake-slider {
  display: flex;
  overflow-x: hidden;
}

.card2 {
  width: 38vw;
}

.icon-special {
  width: 4vw;
}
